
.main {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../assests/logo.png');
  background-size: cover;
}